<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="/briefly/assets/js/respond.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Briefly</title>
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>Welcome to <b>Briefly</b>, a topic identifying engine.</h1>
          <h3>Give me a webpage and I'll tell you what it's about:</h2>
          <input id="input" type="text" onfocus="this.value=''" value="webpage URL">
          <button onclick="go()">Go</button>
          <script>
          function go() {
            var inputURL = new URL(document.getElementById('input').value.trim());
            targetURL = inputURL.host + inputURL.pathname
            targetURL = targetURL.replaceAll("/", "^");
            targetURL = encodeURIComponent(targetURL);
            location.href = targetURL;
          }
          </script>
        </div>
      </section>
      {% if url %}
        <section>
          <div id="results">
            <p>You asked for the URL {{ url }}.</p>
            {% if response %}
              <p>This is the text I got from there: {{ response[0:100] }}</p>
            {% else %}
              <p>That website seems to be inaccessible. Sorry.</p>
            {% endif %}
          </div>
        </section>
      {% endif %}
    </div>
  </body>
</html>
