<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/briefly/assets/css/style.css?v=58e1468511235ee060f45d247f174aca026f5986">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/briefly/assets/js/respond.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Briefly</title>
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>briefly</h1>
          <h1>Hi. I'm Briefly, a topic identifying engine.</h1>
          <h2>Give me a webpage and I'll tell you what it is about:</h2>
          <p>[text input goes here]</p>
        </div>
      </section>
    </div>
  </body>
</html>
