<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="/briefly/assets/js/respond.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Briefly</title>
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>Hi. I'm <b>Briefly</b>, a topic identifying engine.</h1>
          <h3>Give me a webpage and I'll tell you what it's about:</h2>
          <input id="input" type="text" onfocus="this.value=''" value="webpage URL">
          <button onclick="location.href='/'+document.getElementById('input').value;">Go</button>
          <form action="/">
            <input type="submit" value="Go to home page" />
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
